body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #444;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 4px;
}

button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

button:hover {
    background-color: #b30000;
}
